<div class="container">
	<div class="row">
		<span class="page_title">撰写文章</span>
		<div class="span9">
	 		<%= form_for([@category, @article]) do |f| %>
				<div>
					<%= f.label :title, '标题' %>
					<%= f.text_field :title %>
				</div>
				<div>
					<%= f.label :content, '内容' %>
					<%= f.text_area(:content, :rows => 10, :class => 'span9') %>
				</div>
				<div>
					<%= f.label :category_id, '类别' %>
					<%= f.collection_select :category_id, @categories, :id, :name, {:prompt => false} %>
				</div>
				<div>
					<%= f.submit '创建', :class => "btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>