<div class="container">
	<div class="row">
		<div class="span8">
			<%= form_for @movie, :html => { :multipart => true } do |f| %>
				<div>
					<%= f.label :cname, "中文名称" %>
					<%= f.text_field :cname %>
				</div>
				<div>
					<%= f.label :oname, "原名" %>
					<%= f.text_field :oname %>
				</div>
				<div>
					<%= f.label :location, "地区" %>
					<%= f.text_field :location %>
				</div>
				<div>
					<%= label_tag :directors, "导演" %>
					<%= text_field_tag :directors, params[:directors] %>
				</div>
				<div>
					<%= label_tag :actors, "演员" %>
					<%= text_field_tag :actors, params[:actors] %>
				</div>
				<div>
					<%= label_tag :genres, "类型" %>
					<%= text_field_tag :genres, params[:genres] %>
				</div>
				<div>
					<%= f.label :releasedate, "上映日期" %>
					<%= f.date_select(:releasedate, :start_year => 1905) %>
				</div>
				<div>
					<%= f.label :screenshot, "截图" %>
					<%= f.file_field :screenshot %>
				</div>
				<div>
					<%= f.label :review, "评论" %>
					<%= f.text_area(:review, :rows => 2, :class => 'span8') %>
				</div>
				<div>
					<%= f.submit "更新" %>
				</div>
			<% end %>
		</div>
	</div>
</div>