<div class="container">
	<div class="row">
		<div class="span9">
        	<%= image_tag(@movie.screenshot.normal.url) %>
			<div class="info">
				<h2><%= @movie.cname %> <%= @movie.oname unless @movie.oname.nil? %></h2>
				<span>导演</span>:<%= render @movie.directors %><br>
				<span>演员</span>:<%= render @movie.actors %><br>
				<span>类型</span>:<%= render @movie.genres %><br>
				<span>地区</span>:<%= @movie.location %><br>
				<span>上映日期</span>:<%= @movie.releasedate %><br>
				<div class="review"><%= @movie.review %></div>
			</div>
			<%= link_to 'Edit', edit_movie_path(@movie) %>
		</div>
	</div>
</div>