<div class="container">
	<div id="content">
	  <div class="row">
		<div class="span9">
			<div class="info">
			<h2><%= @movie.cname %> <%= @movie.oname unless @movie.oname.nil? %></h2>
        	    <%= image_tag(@movie.screenshot.normal.url, :alt => @movie.cname) %>
				<div class="clearfix"></div>
				<span>导演</span>:<%= render @movie.directors %><br>
				<span>演员</span>:<%= render @movie.actors %><br>
				<span>类型</span>:<%= render @movie.genres %><br>
				<span>地区</span>:<%= @movie.location %><br>
				<span>上映日期</span>:<%= @movie.releasedate %><br>
				<div class="review"><%= @movie.review %></div>
				<span>资源</span>:<%= render @movie.reslinks %> <%= link_to '+', new_movie_reslink_path(@movie, @reslink) %><br>
				<hr>
				<small class="muted">创建于<%= @movie.created_at.to_date %></small>
			</div>
			<% if admin? %>
			<%= link_to 'Edit', edit_movie_path(@movie) %>
			<%= link_to 'Delete', movie_path(@movie), :confirm => "Are you sure?", :method => :delete %>
			<% end %>
			<hr>
			<div id="disqus_thread"></div>
	        <script type="text/javascript">
	            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	            var disqus_shortname = 'shiwai';
	            var disqus_identifier = '<%= movie_path(@movie) %>';
	            var disqus_url = '<%= url_for(:action => 'show', :controller => 'movies', :host => 'shiwai.in') %>';
	        

	            /* * * DON'T EDIT BELOW THIS LINE * * */
	            (function() {
	                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	            })();
	        </script>
	        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	    </div>
	  </div>
	</div>
</div>